{% extends 'base.html' %}

{% block content %}

<h1 style="color: #fff;">news about space</h1>
<ul>
    {% for p in posts %}
    {% if p.is_published %}

        <div class="container py-4">

    <div class="row align-items-md-stretch">
      <div class="col-md-16">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>{{ p.title }}</h2>
            {% if p.photo %}
            <p><img src="{{ p.photo.url }}"></p>
            {% endif %}

          <p style="background-color: #28383d; font-family: Lobster;"> {{ p.newscontent|truncatewords:20 }}</p>

            <a class="btn btn-outline-light" href="{{ p.get_absolute_url }}" role="button">{{ p.get_absolute_url }}</a>

        </div>
      </div>
   </div>
            <div class="p-3 text-light bg-danger border border-primary-subtle rounded-3">
        {{ p.time_create  }} {{ p.slug }}
                tags:
        {% for tag in p.tags.all %}

            <a class="btn btn-outline-light" href="{{ tag.get_absolute_url }}" role="button">{{ tag.title }}</a>

        {% endfor %}

            </div>
        </div>

    <hr>
    {% endif %}
    {% endfor %}

</ul>
{% endblock %}